DATABASE_URL=postgresql+psycopg2://user:password@host:5432/dbname
JWT_SECRET=change-me
JWT_ALGORITHM=HS256
ELASTICSEARCH_HOST=https://quickstart-es-http:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=change-me
USER_SERVICE_URL=http://user-service:8000
NINJAS_NUTRITION_API_KEY=change-me
MEDIA_ROOT=media
CORS_ORIGINS=http://localhost:5173,http://134.112.128.83
